/* Start Variables */
:root {
    --main-color: #10cab7;
    --secound-color: #183153;
    --main-padding: 60px;
    --background-color: #f6f6f6;
}
html {
    scroll-behavior: smooth;
}
/* End Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
/* Start Global Rules */
.continar {
    /* عشان  المحتوى يبقى بنص الشاشة */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* media quary */
/* small */
@media (min-width:768px) {
    .continar {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .continar {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .continar {
        width: 1170px;
    }
}
/* End Global Rules */
.header {
    padding: 20px;
}
.header .continar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .link {
    position: relative;
    transition: 0.3s;
}
.header .link:hover .icon span:nth-child(2) {
    width: 100%;
    color: blueviolet;
}
.header .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .link .icon span {
    background-color: #183153;
    margin-bottom: 5px;
}
.header .link .icon span:first-child {
    height: 3px;
    width: 100%;
}
.header .link .icon span:nth-child(2) {
    height: 3px;
    width: 40%;
}
.header .link .icon span:last-child {
    height: 3px;
    width: 100%;
}
.header .link ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    right: 0;
    position: absolute;
    min-width: 150px;
    display: none;
    top: calc(100% + 15px);
}
.header .link:hover ul {
    display: block;
}

.header .link ul::before {
    content: "";
    border-width: 10px;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    border-style: solid;
    top: -20px;
    right: 5px;
}
.header .link ul li a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: #333;
    text-align: end;
    transition: 0.2s;
}
.header .link ul li:not(:last-child) a {
    border-bottom: 2px solid #ddd;
}
.header .link ul li a:hover {
    padding-right: 25px;
    transition: ease-in-out;
    background-color: var(--main-color);
}
/* start landing section  */
.landing {
    background-image: url(../pic/la.webp);
    background-size: cover;
    /* 84.02px >> same  header height to avoid scroll*/
    height: calc(100vh - 84.02px);
}
.landing .inside-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* عشان  النص يتمدد  او لا ؟؟ */
    max-width: 100%;
    width: 320px;
}
.landing .inside-text h1 {
    /* عشان  تحزف السكلول to avoid scroll*/
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .inside-text p {
    font-size: 20px;
    line-height: 1.7;
}
/*  end landing section */
/* start features */
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px 20px;
}
.features .feat {
    text-align: center;
    padding: 20px;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* end features */
/*start the services*/
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.special-heading {
    color: #ebeceb;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
}
@media (max-width:776px) {
    .special-heading {
        font-size: 70px;
    }
}
.special-heading+p {
    font-size: 20px;
    text-align: center;
    color: #797979;
    margin: -27px 0 0;
}

@media (max-width:776px) {
    .services .special-heading {
        font-size: 70px;
    }
}

.services .services-content {
    /* full-resposive */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin: 70px 0 0;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .services-content .serv {
        text-align: center;
        flex-direction: column;
    }
}

.services .services-content i {
    color: var(--main-color);
}

.services .services-content .text h3 {
    margin: 0 0 0 20px;
}

.services .services-content .text p {
    color: #797979;
    margin: 20px;
}

.services .services-content .colu .image {
    text-align: center;
    position: relative;
}

.services .services-content .colu .image .img {
    width: 100%;
}

.services .services-content .colu .image::after {
    content: "";
    height: calc(100% + 100px);
    top: -25%;
    width: 100px;
    position: absolute;
    background-color: var(--secound-color);
    right: 5px;
    z-index: -1;
}

/* dispaly picters in medim screen */
/* using framwork>> .display-pic-mediua */
@media (max-width:991px) {
    .display-pic-mediua {
        display: none;
    }
}

/*end the services*/
/* start portfolio */
.portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background-color);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    margin: 70px 0 0;
}

.portfolio .portfolio-content .protf {
    text-align: center;
    background-color: white;
}

.portfolio .portfolio-content .protf img {
    width: 100%;
    height: 240px;
}

.portfolio .portfolio-content .protf .tittel {
    padding: 20px;
    text-align: initial;
}

.portfolio .portfolio-content .protf h3 {
    margin: 0;
}

.portfolio .portfolio-content .protf p {
    margin-bottom: 0;
    color: #777;
    line-height: 1.8;
}

/* end portfolio */
/* start about */
.about {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    /* space between pic and dowen-text  */
    justify-content: space-between;
}

.about .containers .image {
    /* لازم تعمل للكلاس الاب بوزيشن عشان  بظهر العنصر الاساسي فالكونتدنت */
    position: relative;
}

.about .containers .image::before {
    content: "";
    position: absolute;
    background-color: #ebeceb;
    height: calc(100% + 50px);
    width: 70px;
    top: -25px;
    z-index: -1;
}

.about .containers .about-content .image::after {
    content: "";
    position: absolute;
    width: 82px;
    height: 194px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    top: -25px;
    left: 158px;
    z-index: -1;
}

/*  مش زابط هان مشكلة الريسبونسف للابوت عشان ينزل اللكلام تحت الصورة */
@media (max-width:991px) {

    .about .containers .about-content .image::after,
    .about .containers .image::before {
        display: none;
    }
}

.about .containers .about-content {
    margin-bottom: 60px;
    margin-top: 60px;
}

@media (max-width:768px) {
    .about .containers .about-content {
        justify-content: center;
    }
}

.about .about-content .info {
    /* عشان توزع النص جوات الصفحة  جنب الصورة */
    padding: 202px;
    margin-left: 271px;
    margin-top: -450px;
}

@media (max-width:991px) {
    .about .about-content .info {
        display: contents;
        text-align: center;
    }

    .about .about-content .info hr {
        width: 100%;
    }
}

.about .about-content .info hr {
    border-color: var(--main-color);
    margin-right: 50%;
}

.about .about-content .info p:first-of-type {
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.8;
}

.about .about-content .info p:last-of-type {
    margin-bottom: 10px;
    color: #777;
}

/* end about */
/* start contact */
.Contact {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background-color);
}

.Contact .about-content {
    margin: 80px 0 0 10px;
    text-align: center;
}

.Contact .about-content .parg p:first-of-type {
    font-size: 35px;
    font-weight: 800;
    color: var(--secound-color);
    letter-spacing: -2px;
    margin: 0 0 12px 0;
}

.Contact .about-content .parg a {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    letter-spacing: -2px;
    text-decoration: none;
}

.Contact .about-content .text {
    font-size: 15px;
    color: var(--secound-color);
    letter-spacing: -2px;
    margin: 15px 0 0 0;
}

.Contact .about-content .text i {
    margin-left: 10px;
    columns: var(--secound-color);
}

/* small sceen */
@media (max-width:767px) {

    .Contact .about-content .parg p:first-of-type,
    .Contact .about-content .parg a {
        font-size: 25px;
    }
}

/* end contact */
/* start footer */
.footer {
    background-color: var(--secound-color);
    color: white;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 30px 10px;
}

.footer span {
    color: var(--main-color);
}

/* end footer */